---
import { render } from "astro:content";
import { slug } from "../../util/slug";

import BlogPost from "../../layouts/md.astro";
import Footer from "../../components/footer.astro";

export async function getStaticPaths() {
    const posts = await slug("blog");
    return posts.map((post: any) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BlogPost {...post.data}>
    <hgroup>
        <h1>{post.data.title}</h1>
        <p><em>{post.data.description}</em> <time datetime={post.data.date.toISOString()}>{post.data.goodDate}</time></p>
    </hgroup>
    <main><Content /></main>
    <Footer />
</BlogPost>
