---
import { type CollectionEntry, getCollection, render } from "astro:content";

import BlogPost from "../../layouts/md.astro";
import Footer from "../../components/footer.astro";

import { slug } from "../../util/slug";

export async function getStaticPaths() {
    const posts = await slug("blog");
    return posts.map((post: any) => ({
        params: { id: post.id },
        props: post,
    }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<BlogPost {...post.data}>
    <hgroup>
        <h1><em>{post.data.title}</em></h1>
        <p>{post.data.description}</p>
        <p>
            <time datetime={post.data.date.toISOString()}>
                {post.data.goodDate}
            </time>
        </p>
    </hgroup>
    <main><Content /></main>
    <Footer />
</BlogPost>
