<footer>
    <p><strong></strong></p>

    <div>
        <a href="mailto:j@lowercase.name" data-obfuscation="0">
            <span>Email</span>
            <span aria-hidden="true"><as-dithered-image src="/assets/email.avif"></as-dithered-image></span></a>
        <a href="https://bsky.app/profile/lowercase.name" rel="noreferrer nofollow noopener external">
            <span>Bluesky</span>
            <span aria-hidden="true"><as-dithered-image src="/assets/bluesky.avif"></as-dithered-image></span></a>
        <a href="https://codeberg.org/lowercase-name" rel="noreferrer nofollow noopener external" >
            <span>Codeberg</span>
            <span aria-hidden="true"><as-dithered-image src="/assets/codeberg.avif"></as-dithered-image></span></a>
        <a href="https://github.com/lowercase-name/" rel="noreferrer nofollow noopener external">
            <span>Github</span>
            <span aria-hidden="true"><as-dithered-image src="/assets/github.avif"></as-dithered-image></span></a>
    </div>
</footer>
<script src="../scripts/as-dithered-image.js"></script>
