<header>
    <nav aria-label="main links">
        <a href="/"><span>frontpage</span></a>
        <a href="/blog">blog</a>
    </nav>
    <div>
        hey, i’m <button onclick="reroll()">j</button>
    </div>
</header>
